@font-face {
  font-family: "font-mustom";
  src: url("/icon-lib/font/font-mustom.eot");
  src: url("/icon-lib/font/font-mustom.eot?#iefix") format("embedded-opentype"),
    url("/icon-lib/font/font-mustom.woff") format("woff2"),
    url("/icon-lib/font/font-mustom.woff") format("woff"),
    url("/icon-lib/font/font-mustom.ttf") format("truetype"),
    url("/icon-lib/font/font-mustom.svg#font-mustom") format("svg");
}
.fm {
  font-family: "font-mustom";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fm-fh {
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
}
